{% extends 'base.html.twig' %}

{% block body %}

<img src="{{ asset('/images/quebec-flag.png') }}" alt="Quebec flag" class="h-32 mt-12 rounded shadow-md"/>

<h1 class="mt-5 text-3xl sm:text-5xl font-semibold text-indigo-600">Hello from France</h1>

{# <p>It's currently {{ 'now'|date('H:i') }} par défaut (voir php.ini)</p> #}
<p class="text-lg text-gray-800">It's currently {{ 'now'|date('H:i', 'Europe/Paris') }} in Paris.<br/>
It's currently {{ 'now'|date('H:i', 'America/Guadeloupe') }} in St-Maarten.</p>


{% endblock %}